*{ 
 margin:0;  padding:0;  box-sizing: border-box; 
} 
body{ 
    font-family: Arial, Helvetica, sans-serif;     line-height: 1.6;     color:#333; 
} 
header{     background-color:purple;     padding:20px; 
text-align: center; 
}
header h1 { 
    color:#fff;     font-size: 1.1rem; 
} 
nav ul{     list-style: none;     display:flex;     justify-content: center;     margin-top: 10px; 
} 
nav ul li{ 
    margin:0 15px; 
} 
nav ul li a { 
    text-decoration: none; 
    color:#fff;     font-size: 1.1rem; 
} 
.container{ 
    display:flex; 
    max-width: 1200px;     margin:20px auto; 
} 
main{ 
    flex:70%;     padding:20px; 
} 
article img{     width:100%; height: auto; border-radius: 5px; 
}
article h2{     margin:10px;     font-size:2rem;     color:#333; 
} 
article p{ 
margin:10px 0; 
} 
article a{     display:inline-block;     margin-top: 10px;     padding:10px 15px;     background-color:purple; 
    color:#fff; 
    text-decoration:none;     border-radius: 5px; 
} 
aside{     flex:30%;     padding:20px;     background-color: #f9f9f9;     margin-left: 20px;     border-radius: 5px; 
} 
.about-me h3{ 
    font-size:1.5rem ; 
} 
.about-me img{ 
width:100%; border-radius: 5px; 
}
footer{     background-color: #333; 
    color:#fff;     text-align: center;     padding:10px 0;     margin-top: 20px; 
} 
