.half-rectangle{     width: 400px;     height:200px;     background-color:white;     border-top-right-radius:100px;     border-bottom-right-radius:100px; 
    position:relative;     margin-left:40px; 
} 
.circle{ 
    width: 175px;     height:175px; 
    background-image: url('https://ridleysontheriver.co.uk/wpcontent/uploads/2020/03/AdobeStock_217929496-2048x1288.jpeg'); 
    background-size: cover;     background-position: center;     background-repeat: no-repeat;     border-radius: 50%;     position: absolute;     top: 16px;     left: 50%;     border: 2px solid 
} 
.container{ 
    display: flex;     flex-direction:row;     width:100%; 
} 
aside{     padding: 4px; margin-left:40%;     margin-top: 0%; 
} 
ul{     color:white;     font-size: 17px; 
} 
button{     border-radius: 10px;     background-color:white;     padding:20px; 
} 
h1{ 
    font-size: 50px;     text-align: center;     color:white; 
} 
body{     background-color:white; 
} 
.contain{ 
    display: flex;     align-items: center;     width:100%; 
     
} 
.half-rect{     width: 400px; ;     height:200px ;     background-color:white;     border-top-left-radius: 100px;     border-bottom-left-radius:100px; 
    position:relative;     margin-left: auto; 
} 
